body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Barvy
Světlá barva pozadí: #f2b880
Tmavší barvy pozadí za obrázkem: #e88121
Barva text v oranžovém pozadí: #752400
*/
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
height: 110px;
background-color: white;
display: flex;
position: sticky;
top: 0;
width: 100%;
}
.headline-1{
  font-size: 50px;
  text-align: center;
  margin-top: 40px;

}
.hero-section{
background-color: #f2b880;
width: 1200px;
height: 400px;
border-radius:0.75em;
display: flex;
margin-top: 60px;
}
.hero-text{
  display: flex;
  
  justify-content: center;
  width: 60%;
  justify-content: center;
  align-items: center;
  
}
.hero-text p{
  color: #752400;
  width: 600px;
}


.navbar{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: right;
  width:70% ;
  margin-right: 200px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-item{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text{
  display: flex;
  width: 100%;
 justify-content: center;

}
.text-wrapper{
  margin-top: 60px;
}
.text-wrapper p{
display: flex;
width: 600px;
}
.text p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  
}
.hero-img img{
  height: 300px;
  width: 400px;
  box-shadow: -15px -15px #e88121;
}
.header-logo img{
  height: 80px;
  width: 80px;
}
.header-logo{
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 200px;
}
.top-link{
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
  margin-right: 20px; 
}
.top-link img{
  height: 40px;
  width: 40px; 
} 
.top-link-wrapper{
  width: 100%;
  position: sticky;
  bottom: 0;
}