@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("hero-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.navbar{
    background-color: #CBC1B1;
    height: 150px;
    width: 100%;
    display: flex;
}
.logo{
    width: 20%;
    margin-left: 163px;
}
.navbar ul { 
    width: 80%;
    display: flex; 
    gap: 29px;
    
}
.navbar ul li{
    list-style: none;  
}
.navbar ul li a{  
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
   
 
}